page-pictureproof {
    .image-container {
        background-size: cover;
        min-height: 200px;
    }
    .bg{
        //background: #1F2833;
        background: linear-gradient(to bottom, #1F2833 0%, rgb(59, 66, 75) 100%);
    }
}



